@font-face {
    font-family: Staatliches;
    src: url(assets/Staatliches-Regular.ttf);
}

@font-face {
    font-family: Rubik;
    font-style: normal;
    src: url(assets/Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: Rubik;
    font-style: italic;
    src: url(assets/Rubik-Italic-VariableFont_wght.ttf);
}

:root {
    --box-shadow: -10px 10px 0 rgb(132, 145, 145);
    --frame: rgb(132, 145, 145);
}

.hidden {
    display: none;
}

body {
    font-family: Rubik, sans-serif;
    background-color: #eee;
    margin: 3em 0.2em;
    font-size: 13pt;
    background-image: url(assets/bg.png);
}

a, summary {
    color: rgb(72, 131, 131);
    text-decoration: none;
}

h3 {
    margin: 0.2em 0;
}

summary {
    cursor: pointer;
}

.loading-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #eee;
}

.loading-icon {
    width: 200px;
    height: 200px;
    animation: loading 1.5s ease 0s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg) scale(100%);
    }
    40% {
        transform: rotate(180deg) scale(110%);
    }
    80% {
        transform: rotate(360deg) scale(100%);
    }
    100% {
        transform: rotate(360deg) scale(100%);
    }
}

h1, h2, h3 {
    font-weight: normal;
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
}

.title {
    text-align: center;
}

.title a {
    color:rgb(75, 124, 124);
}

.status {
    font-weight: normal;
}

.tag-info {
    padding: 1em;
    height: auto;
    transition: 0.4s all linear;
    overflow: hidden;
}

.tag-info.hidden {
    height: 0;
}

.tag-info-title {
    text-align: left;   
}

.tag-info-list li {
    display: inline-block;
}

.tag-info-list li::before {
    content: "• ";
}

.tag-info-hero {
    box-shadow: var(--box-shadow);
    float: right;
    width: 200px;
    margin: 0.8em;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.4em;
    margin: 0.4em 0;
}

.gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.2em;
}
.gallery-col {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.image-container {
    background: none;
    position: relative;
    overflow: hidden;
    border: 0px solid transparent;
    padding: 0;
    box-sizing: border-box;
}

.image-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0 solid var(--frame);
    box-sizing: border-box;
    opacity: 0;
    transition: 0.3s all ease-out;
}

.image-container:hover .image-frame {
    border: 5px solid var(--frame);
    opacity: 1;
}

.image-container img {
    width: 100%;
    display: block;
}

.image-container.nsfw img {
    filter: blur(30px);
}

.image-label {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.4em;
    box-sizing: border-box;
    background-color: var(--frame);
    color: white;
    transition: 0.3s transform ease-out;
    transform: translateY(100%);
    display: flex;
    justify-content: space-between;
}

.image-container.nsfw .image-label {
    height: 100%;
    width: 100%;
    top: 0;
    transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image-container.guest .image-label {
    bottom: 0;
    transform: none;
}

.image-container:not(.guest):hover .image-label {
    top: auto;
    transform: translateY(0);
}

.image-full-right, .tag-bar {
    margin: 0.6em;
}

.tag-bar {
    text-align: center;
}

.tag-header, .tag-cat {
    display: inline-block;
}

.tag-header {
    margin-left: 1em;
}

.tag-cat.tag-extras {
    flex-basis: 100%;
}

.tag-wrapper {
    display: inline-block;
    margin: 0.2em;
    white-space: nowrap;
    border-radius: 5px;
}

.tag-label {
    padding: 0.4em;
}

.tag-button:not(.hidden) {
    display: inline-block;
    background-color: cornflowerblue;
    padding: 0.2em;
    color: white;
    min-width: 1em;
    text-align: center;
    text-decoration: none;
    border: 2px inset transparent;
    border-radius: 5px;
    font-size: 11pt;
}

.tag-button.selected {
    border-color: darkslategray;
}

.tag-button.plus {
    background-color: cadetblue;
    border-radius: 5px 0 0 5px;
}

.tag-button.plus.selected {
    background-color: #366076;
}

.tag-button.minus {
    background-color: indianred;
    border-radius: 0 5px 5px 0;
}

.tag-button.minus.selected {
    background-color: darkred;
}

.image-full-title {
    text-align: center;
    color: #333;
}

.image-full-row {
    margin: 0 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-full-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

.image-full {
    background-color: #ddd;
    max-height: 110vh;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
}

.image-full-right {
    flex-basis: 0;
    flex-grow: 1;
}

.image-full-desc {
    border-left: 5px solid rgb(72, 131, 131);
    padding-left: 0.4em; 
}

@media only screen and (max-width: 768px) {
    .image-label {
        top: auto;
        transform: translateY(0);
        display: block;
        position: relative;
    }

    .image-label span {
        word-break: break-word;
    }

    .image-label span::after {
        content: " ";
    }

    .image-full-row {
        display: block;
    }

    .image-full-wrapper {
        width: 100%;
    }

    .image-full-right {
        width: 100%;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: 0s all ! important;
    }

    .image-container:hover .image-frame {
        opacity: 0;
    }
}